<section>
    <div class="container">
        <h1 class="form-title">Login</h1>
        <form action="" class="fields">
            <label for="">E-mail</label>
            <input type="email" name="" id="" placeholder="email@domain.com">
            <label for="">Password</label>
            <input type="password" name="" id="" placeholder="********">
            <p class="error">Invalid password or email!</p>
            <button class="btn form-btn">Login</button>
        </form>
        <p class="redirect">Don't have account? <a class="click-for-redirect" routerLink="/auth/register">Register!</a></p>

    </div>
</section>