<section>
  <div class="container">
    <h1 class="form-title">Login</h1>
    <form class="fields" [formGroup]="form" (ngSubmit)="loginHandler()">
      <label for="email">E-mail</label>
      <input
        type="email"
        formControlName="email"
        id="email"
        placeholder="email@domain.com"
      />
      <label for="password">Password</label>
      <input
        type="password"
        formControlName="password"
        id="password"
        placeholder="********"
      />
      <ng-container *ngIf="form.get('password')?.touched">
        <p class="error" *ngIf="form.get('password')?.errors?.['required']">
          Password is required!
        </p>
      </ng-container>
      <ng-container *ngIf="loginError === true">
        <p class="error">
          Invalid email or password!
        </p>
      </ng-container>
      <button class="btn form-btn" [disabled]="form.invalid">Login</button>
    </form>
    <p class="redirect">
      Don't have account?
      <a class="click-for-redirect" routerLink="/auth/register">Register!</a>
    </p>
  </div>
</section>
