<section>
  <div class="container">
    <h1 class="form-title">Register</h1>
    <form class="fields" [formGroup]="form" (ngSubmit)="registerHandler()">
      <div class="sides">
        <div class="side">
          <div *ngIf="uploadedImg" class="display-img-container">
            <img src="{{ uploadedImg }}" alt="" class="uploaded-img" />
          </div>
          <div *ngIf="!uploadedImg" class="up-img">
            <label for="img">Profile picture</label>
            <input
              type="file"
              id="img"
              formControlName="img"
              accept="image/*"
              (change)="uploadProfileImg($event)"
            />
          </div>
          <label for="name">Name</label>
          <input
            type="text"
            id="name"
            placeholder="Johny"
            formControlName="name"
          />
          <ng-container *ngIf="form.get('name')?.touched">
            <p class="error" *ngIf="form.get('name')?.errors?.['required']">
              Name is required!
            </p>
            <p class="error" *ngIf="form.get('name')?.errors?.['minlength']">
              Name must be at least 4 characters!
            </p>
          </ng-container>
          <label for="years">Years</label>
          <input
            type="number"
            id="years"
            placeholder="25"
            formControlName="years"
          />
          <ng-container *ngIf="form.get('years')?.touched">
            <p class="error" *ngIf="form.get('years')?.errors?.['required']">
              Years are required!
            </p>
            <p class="error" *ngIf="form.get('years')?.errors?.['min']">
              You should be at least 16 years old!
            </p>
            <p class="error" *ngIf="form.get('years')?.errors?.['max']">
              Invalid years!
            </p>
          </ng-container>
        </div>
        <div class="side">
          <label for="email">E-mail</label>
          <input
            type="email"
            name="email"
            id="email"
            formControlName="email"
            placeholder="email@domain.com"
          />
          <ng-container *ngIf="form.get('email')?.touched">
            <p class="error" *ngIf="form.get('email')?.errors?.['required']">
              Email is required!
            </p>
            <p
              class="error"
              *ngIf="form.get('email')?.errors?.['appEmailValidator']"
            >
              Email is not valid!
            </p>
          </ng-container>
          <ng-container formGroupName="pass">
            <label for="password">Password</label>
            <input
              type="password"
              id="password"
              formControlName="password"
              placeholder="********"
            />
            <ng-container *ngIf="form.get('pass')?.get('password')?.touched">
              <p
                class="error"
                *ngIf="form.get('pass')?.get('password')?.errors?.['required']"
              >
                Password is required!
              </p>
              <p
                class="error"
                *ngIf="form.get('pass')?.get('password')?.errors?.['minlength']"
              >
                Password must be at least 5 characters!
              </p>
            </ng-container>
            <label for="rePassword">Repeat password</label>
            <input
              type="password"
              id="rePassword"
              formControlName="rePassword"
              placeholder="********"
            />
            <p
              class="error"
              *ngIf="form.get('pass')?.errors?.['rePassValidator'] && form.get('pass')?.get('rePassword')?.touched"
            >
              Repeat Password does not match password!
            </p>
          </ng-container>
        </div>
      </div>
      <!-- [disabled]="form.invalid" -->
      <button class="btn form-btn">Register</button>
    </form>
    <p class="redirect">
      Have an account?
      <a class="click-for-redirect" routerLink="/auth/login">Login!</a>
    </p>
  </div>
</section>
