.screen {
  height: var(--section-h);
  display: flex;
  align-items: center;
  justify-items: center;
  flex-direction: column;
  justify-content: center;
  font-size: 1.5rem;
}


.screen .title {
  color: white;
}

.screen .btn.home-btn {
  color: var(--primary-clr);
  background-color: var(--secondary-clr);
  padding: 15px 30px;
  border-radius: 30px;
  cursor: pointer;
}

.screen .btn.home-btn:hover {
  color: var(--secondary-clr);
  background-color: var(--primary-clr);
}
