<section>
  <div class="container">
    <h1 class="form-title">New post</h1>
    <form class="fields" [formGroup]="postForm" (ngSubmit)="newPostHandler()">
      <div class="sides">
        <div class="side">
          <label for="file">Furniture picture</label>
          <input
            type="file"
            name="file"
            formControlName="img"
            accept=".jpeg, .png, .jpg"
          />
          <label for="title">Title</label>
          <input
            type="text"
            name="title"
            formControlName="title"
            placeholder="Aluminium table"
          />
          <label for="category">Category</label>
          <select name="category" id="category" formControlName="category">
            <option value="tables">Tables</option>
            <option value="chairs">Chairs</option>
            <option value="sets">Sets</option>
          </select>
        </div>
        <div class="side">
          <label for="description">Description</label>
          <textarea
            name="description"
            id="description"
            formControlName="description"
            cols="30"
            rows="10"
          ></textarea>
        </div>
      </div>
      <button class="btn form-btn">Submit</button>
    </form>
  </div>
</section>
