.footer {
    background-color: var(--primary-clr);
    padding: 10px 20px;
    margin: 0 auto;
    text-align: center;
    color: var(--secondary-clr);
  border-radius: 40px 40px 0 0;

}

.footer .owner {
    color: black;
}