<section>
    <div class="container">
      <h1 class="form-title">Edit post</h1>
      <form action="" class="fields">
        <div class="sides">
          <div class="side">
            <label for="">Furniture picture</label>
            <input type="file" />
            <label for="">Title</label>
            <input type="text" placeholder="Aluminium table" />
            <label for="">Category</label>
            <select name="" id="">
              <option value="tables">Tables</option>
              <option value="chairs">Chairs</option>
              <option value="sets">Sets</option>
            </select>
          </div>
          <div class="side">
            <label for="">Description</label>
            <textarea name="" id="" cols="30" rows="10"></textarea>
          </div>
        </div>
        <button class="btn form-btn">Save changes</button>
      </form>
    </div>
  </section>
  