.header {
  background-color: var(--primary-clr);
  margin: 0;
  color: var(--secondary-clr);
  border-radius: 0 0 40px 40px;
}

.container {
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

.header .container .logo .title {
  color: var(--logo-title);
  cursor: pointer;
}

.header .container .logo .title .color {
  font-family: "Zen Dots", cursive;
  font-size: 1.5rem;
  color: var(--logo-clr1);
}

.header .container .logo .title .divider {
  color: var(--logo-clr2);
}

.header .container .list {
  display: flex;
  gap: 1rem;
  margin: 10px 0;
}

.header .container .list .nav-item {
  cursor: pointer;
  color: var(--secondary-clr);
  padding: 10px 20px;
}

.header .container .list .nav-item:hover {
  color: var(--primary-clr);
  background-color: var(--secondary-clr);
  border-radius: 10px;
}
