<nav class="header">
    <div class="container">
        <div class="logo left list">
            <a routerLink="/" class="title"><span class="color">G</span><span class="divider">-</span>Furn</a>
        </div>
        <ul class="middle list" role="list">
            <li class="nav-item"><a routerLink="/">Home</a></li>
            <li class="nav-item"><a routerLink="/collection">Collection</a></li>
            <li class="nav-item"><a routerLink="/my-posts">My Posts</a></li>
            <li class="nav-item"><a routerLink="/create">New Post</a></li>
        </ul>
        <ul class="right list" role="list">
            <!-- <li class="nav-item"><a routerLink="/profile">Profile</a></li>
            <li class="nav-item"><a routerLink="/logout">Logout</a></li> -->
            <li class="nav-item"><a routerLink="/login">Login</a></li>
            <li class="nav-item"><a routerLink="/register">Register</a></li>
        </ul>
    </div>
</nav>