<nav class="header">
  <div class="container">
    <div class="logo left list">
      <a routerLink="/" class="title"
        ><span class="color">G</span><span class="divider">-</span>Furn</a
      >
    </div>
    <ul class="middle list" role="list">
      <li class="nav-item"><a routerLink="/">Home</a></li>
      <li class="nav-item"><a routerLink="/collection">Collection</a></li>
      <ng-container *ngIf="userData">
        <li class="nav-item">
          <a routerLink="/collection/my-posts">My Posts</a>
        </li>
        <li class="nav-item">
          <a routerLink="/collection/create">New Post</a>
        </li>
      </ng-container>
    </ul>
    <ul class="right list" role="list">
      <ng-container *ngIf="userData">
        <li class="nav-item">
          <a routerLink="/auth/profile/{{ userData?.uid }}"
            >{{ userData?.name }}'s Profile</a
          >
        </li>
        <li class="nav-item"><a routerLink="/auth/logout">Logout</a></li>
      </ng-container>
      <ng-container *ngIf="!userData">
        <li class="nav-item"><a routerLink="/auth/login">Login</a></li>
        <li class="nav-item"><a routerLink="/auth/register">Register</a></li>
      </ng-container>
    </ul>
  </div>
</nav>
