<section>
  <div class="post-container">
    <div class="side">
      <img src="{{ post?.img }}" alt="Post image" class="post-img" />
    </div>
    <div class="side">
      <h1 class="title">{{ post?.title }}</h1>
      <p class="description">
        {{ post?.description }}
      </p>
      <p class="creator">
        Creator:
        <a
          class="creator-name"
          routerLink="/auth/profile/{{ post?.creator.uid }}"
          >{{ post?.creator.name }}</a
        >
      </p>
      <ng-container *ngIf="isOwner">
        <div class="btns">
          <a routerLink="/collection/edit/{{ postId }}" class="btn btn-edit"
            >Edit</a
          >
          <button class="btn btn-delete" (click)="deletePost()">Delete</button>
        </div>
      </ng-container>
    </div>
  </div>
</section>
