<section>
  <div class="post-container">
    <div class="side">
      <img
        src="../../../assets/images/Kettler-Garden-Furniture-2-pwzhh5s0k71t9riwu93njsieddwptc95cxmahvejvc.jpg"
        alt=""
        class="post-img"
      />
    </div>
    <div class="side">
      <h1 class="title">Kettler Set</h1>
      <p class="description">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Culpa quasi, dignissimos unde iste facilis pariatur corrupti fugiat illo eligendi cumque recusandae doloremque corporis esse consequatur animi accusantium? Cum optio voluptatum molestiae maxime reprehenderit velit aspernatur sequi voluptate, culpa quibusdam adipisci cupiditate. Similique dicta corrupti debitis placeat quasi expedita quas? Repudiandae, distinctio quae iure doloribus necessitatibus commodi, possimus quibusdam quasi a id ullam? Excepturi id delectus inventore similique voluptatem, error architecto?</p>
      <p class="creator">Creator: Joe</p>
      <p class="post-time">Created at: 25 dec 2022</p>
      <div class="btns">
          <a href="" class="btn btn-edit">Edit</a>
          <button class="btn btn-delete">Delete</button>

      </div>
    </div>
  </div>
</section>
