.post-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 1000px;
  gap: 1rem;
  background-color: var(--card-bg);
  padding: 2rem;
  border-radius: 20px;
}

.post-container .post-img {
  height: 400px;
  border-radius: 10px;
  object-fit: cover;
  width: 100%;
}

.post-container .title {
  text-align: center;
  color: var(--primary-clr);
  margin-bottom: 1rem;
}

.post-container .description {
  margin-bottom: 1rem;
}

.post-container .creator {
  text-align: end;
  font-size: 1.1rem;
}

.post-container .creator .creator-name {
  cursor: pointer;
  color: var(--primary-clr);
}

.post-container .btns {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}

.post-container .btn {
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  text-decoration: none;
  color: var(--primary-clr);
  cursor: pointer;
}

.btn-edit {
  background-color: green;
}

.btn-delete {
  background-color: red;
}

.post-container .btn-edit:hover {
  color: green;
  background-color: var(--primary-clr);
}

.post-container .btn-delete:hover {
  color: red;
  background-color: var(--primary-clr);
}
