.post-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 1000px;
    gap: 1rem;
    background-color: var(--card-bg);
    padding: 2rem;
    border-radius: 20px;
}

.post-container .post-img {
    height: 100%;
    border-radius: 10px;
    object-fit: cover;
}
 
.post-container .title {
    text-align: center;
    color: var(--primary-clr);
    margin-bottom: 1rem;
}

.post-container .description {
    margin-bottom: 1rem;
}

.post-container .creator, .post-container .post-time {
    text-align: end;
    font-size: 0.7rem;
}

.post-container .btns {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;

}

.post-container .btn {
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    text-decoration: none;
    color: var(--primary-clr);
}

.btn-edit {
    background-color: green;
}

.btn-delete {
    background-color: red;
}
