<section>
  <div class="view">
    <div class="post-container">
      <img
        src="../../../assets/images/Kettler-Garden-Furniture-2-pwzhh5s0k71t9riwu93njsieddwptc95cxmahvejvc.jpg"
        alt=""
        class="post-img"
      />
      <h1 class="title">Kettler Set</h1>
      <p class="creator">Creator: Joe</p>
      <p class="post-time">Created at: 25 dec 2022</p>
      <a href="" class="info">More info</a>
    </div>
    <div class="post-container">
      <img
        src="../../../assets/images/Kettler-Garden-Furniture-2-pwzhh5s0k71t9riwu93njsieddwptc95cxmahvejvc.jpg"
        alt=""
        class="post-img"
      />
      <h1 class="title">Kettler Set</h1>
      <p class="creator">Creator: Joe</p>
      <p class="post-time">Created at: 25 dec 2022</p>
      <a href="" class="info">More info</a>
    </div>
  </div>
</section>
